eXia_A4L_WS_SECUWCF_CLIENT/Connected Services/WCFMiddleware/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCFContract" />
  <xs:element name="m_service">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFContract" minOccurs="0" name="message" type="q1:MSG" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="m_serviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFContract" minOccurs="0" name="m_serviceResult" type="q2:MSG" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>